body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

.game {
    width: 600px;
    height: 200px;
    background-color: white;
    border: 2px solid #333;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}

#player {
    width: 30px;
    height: 30px;
    background-color: dodgerblue;
    position: absolute;
    bottom: 0;
    left: 50px;
}

#obstacle {
    width: 30px;
    height: 30px;
    background-color: crimson;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: moveObstacle 1.5s linear infinite;
}

/* Animação do obstáculo */
@keyframes moveObstacle {
    0% { right: -30px; }
    100% { right: 600px; }
}

/* Animação do pulo */
.jump {
    animation: jump 0.5s ease-out;
}

@keyframes jump { 
    0% { bottom: 0; }
    50% { bottom: 80px; }
    100% { bottom: 0; }
}
